.btn-secondary{
    background: #F6F8FA;  /* fallback for old browsers */
    
    color:#0F2027;
    transition: 0.3s ease;
    &:hover{
        background: #F6F8FA;
        opacity: .75;
        color:#0F2027;
    }
    
}
.tab-repositories{
    color:#0F2027;
}
body{
    background: hsla(0, 0%, 3%, 1);

    background: linear-gradient(135deg, hsla(0, 0%, 3%, 1) 0%, hsla(200, 2%, 28%, 1) 50%);
    
    background: -moz-linear-gradient(135deg, hsla(0, 0%, 3%, 1) 0%, hsla(200, 2%, 28%, 1) 50%);
    
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 3%, 1) 0%, hsla(200, 2%, 28%, 1) 50%);
    
}
#profile{
    background-color: #F6F8FA;
    color:#070707;
}
.card-profile{
    background-color: #ffffff;
    border: 1px solid #D0D7DE;
    border-radius:1em;
}
